{% extends 'base.html' %}

{% block title %}{{ plan.name }}{% endblock %}

{% block body %}
    <h1>{{ plan.name }}</h1>
    <h2>Current progress: {{plan.c_current}}/{{plan.c_goal}}</h2>
    <form action="" method="post"> {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Add">
    </form>
    <h4><a href="{% url 'profile-view'%}">Go to profile</a></h4>
{% endblock %}
