{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <h1>Hi, {{ user.username }}</h1>
    <h2>These are your plans:</h2>
    <ul>
        {% for plan in plans %}
            <li><a href="{% url 'plan-view' plan.id %}">{{ plan.name }} - {{ plan.date }} - Goal: {{ plan.c_goal }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <h4>Options:</h4>
        <h5><a class="action-button" href="{% url 'create-plan-view' %}">Create New Plan</a></h5>

        <form action="{% url 'edit-user' %}">
            <input class="action-button" type="submit" value="Edit Profile"/>
        </form>
    </div>
    <ul>
        {% for video in videos %}
        <li><a href="{% url 'display-video' video.id %}">{{ video.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
