{% extends 'users/base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
    <h1>Hi, {{ user.username }}</h1>
    <h2>These are your plans:</h2>
    <ul>
        {% for plan in plans %}
            <li><a href="{% url 'plan-view' plan.id %}">{{ plan.name }} - {{ plan.date }} - Goal: {{ plan.c_goal }}</a></li>
        {% endfor %}
    </ul>
    <div>
        <h4>Options:</h4>
        <h5><a href="{% url 'create-plan-view' %}">Create New Plan</a></h5>
        <h5><a href="{% url 'edit-user' %}">Edit Profile</a></h5>
    </div>
{% endblock %}
