{% extends 'users/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
        <form action="" method="post"> {% csrf_token %}
            {% for field in form_user %}
                <div>
                    {{ field.label }}: {{ field }}
                </div>
            {% endfor %}
            {% for field in form_profile %}
                <div>
                    {{ field.label }}: {{ field }}
                </div>
            {% endfor %}
        <input type="submit" value="Submit">
        </form>
{% endblock %}
